# Ignore the dataset folder
# IMPORTANT: make sure that your dataset is stored in a
# folder with the same name as the one specified below!

/hw2_train_val/*
/picture/*
/hw2_r07522823.md
.vscode/
/vgg16_yolo_ep50.pth
/resnet_yolo_ep20.pth